* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --gray-clr: #262b34;
  --green-clr: #09A247;
  --white-clr: #fff;
  --foot-clr: #2D374B;
}

*::selection {
  color: var(--green-clr);
  background-color: rgb(248, 250, 246);
}

.mybtn {
  width: max-content;
  padding: 10px 25px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  background: transparent;
  text-transform: capitalize;
  border-radius: 4px;
  letter-spacing: 1px;
  transition: all 1s ease-in-out;
}

.my-green-btn {
  background-color: var(--green-clr);
  color: var(--white-clr);
}

.my-gray-btn {
  background-color: var(--gray-clr);
  color: var(--white-clr);
}

.my-foot-btn{
   background-color:#262b34;
    color: var(--white-clr);
}

.my-transparent-btn {
  background-color: transparent;
  color: var(--gray-clr);
}

.my-transparent-btn:hover {
  background-color: #e9e9e9;
}

.span-clr {
  color: var(--green-clr);
}

li a {
  color: var(--gray-clr) !important;
}

.logo-span {
  font-weight: 600;
  font-size: 26px;
}



/* header code */




header {
  width: 100%;
  height: 100%;
 
  position: relative;
  overflow: hidden;
}
.mmm{
  font-size: 70px;
}






.center{
    text-align: center;
    /* font-size: px; */
    
}

.ptop{
    padding-top: 60px;
}

section p{
  font-size: small;
}
.two{
 padding-top: 100px ;
  padding-right: 130px;
border-radius:50%;}
.one{
  padding-left: 20px;
}
  







.zoom {
  border-radius: 8%;
 
  transition: transform .8s; /* Animation */
 
  margin: 0 ;
} 

.zoom:hover {
  transform: scale(0.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}







footer{
  background: #2D374B;
  color: #a6a6a6;
}

footer h4{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}

footer span{
  color: #fff;
}
footer ul{
  list-style: none;
  margin-left: -32px;
}

footer li{
  margin-top: 8px;
}

footer a{
  color: #fff !important;
  text-decoration: none;
  font-size: 14px;
}


<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">